<!DOCTYPE html>
<html>
<head>
  <title>My Homepage</title>
  <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
</head>
<body>
  <div class="container">
    <div class="menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="content">
        <h1>Welcome</h1>
        <p>
            I am Mads, I have a B.Sc, M.Sc and a Ph.D in mathematics / statistics from  <a href="https://www.math.ku.dk/english/"> UCPH math </a>
            I currently work as a projection statistician in the company Ferring Pharmaceuticals. In this job i wear two hats ; under one hat i participate in developing and executing clinical trials. The other hat is a Data-Science cap, under which i bring machine learning and data science into pharma.
        </p>
        <div>
            <img src = "https://projecteuler.net/profile/madsBR.png", alt="Project Euler Status">
        </div>
     
    </div>
    <div class="bottom-images">
        <div class="text">
            <p>Powered By</p>
        </div>    
        <div class="images">
            <a href="https://www.rust-lang.org/"> 
                <img src="static/imgs/rustlogo.png" alt="Image 2">
            </a>

            <a href="https://actix.rs/"> 
                <img src="static/imgs/actix-logo.png" alt="Image 1">
            </a>            
        </div>
    </div>
  </div>
</body>
</html>
