<!doctype html>
<title>Example</title>
<style>
.grid { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  }
.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}
</style>
<main class="grid">
  <img src="/InstaTokTiFace/static/base_imgs/rustlogo.png" alt="Sample photo">
  <img src="/InstaTokTiFace/static/base_imgs/rustlogo.png" alt="Sample photo">
  <img src="/InstaTokTiFace/static/base_imgs/rustlogo.png" alt="Sample photo">
  <img src="/InstaTokTiFace/static/base_imgs/rustlogo.png" alt="Sample photo">
  <img src="/InstaTokTiFace/static/base_imgs/rustlogo.png" alt="Sample photo">
  <img src="/InstaTokTiFace/static/base_imgs/rustlogo.png" alt="Sample photo">
</main>