.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .menu {
    width: 200px;
    background-color: #f1f1f1;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    padding: 10px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  

  .family-container {
    display: flex;
    justify-content: left;
    align-items: left;
  }
  
  .family-text {
    flex: 1;
    text-align: left;
    max-width: 25%; /* Adjust the width as needed */
    margin-right: 20px;
  }
  
  .family-image {
    flex: 1;
    text-align: left;
  }
  
  .family-image img {
    max-width: 100%;
    max-height: 100%;
  }




  .bottom-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    padding: 20px;
  }
  
  .bottom-images .text {
    margin-bottom: 10px;
  }
  
  .bottom-images .images {
    display: flex; /* Added */
    justify-content: center; /* Added */
  }
  
  .bottom-images img {
    width: 200px;
    margin: 10px;
  }

  



