{% extends "frame.html" %}

{% block title %}My Homepage{% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
{% endblock %}  


{% block content %}
    <div class="menu">
      <ul>
        <li> <a href="#"> Home</a> </li>
          <!--    <li><a href="#">About</a></li> -->
          <!--    <li><a href="#">Services</a></li> -->
          <!--    <li><a href="#">Contact</a></li> -->        
      </ul>
    </div>

    <div class="content">
      <h1>Welcome</h1>
      <p>
          I'm Mads, 
          <br>
          I primarily host this website for various hobby projects, but i thought i'd include a happy hello to the world as well.
          <br>
          <br>
          About me: I have a Ph.D in mathematics / statistics and I currently work as a statistician in Ferring Pharmaceuticals. The list of interests and hobby projects would be to long and is ever changing, but most of it is related to math, stats, computers or programming.
          <br>
          <br>      
          At home i am gifted with several wonderful creatures
      </p>
      <div class="family-container">
        <div class="family-text">
          <ul>
            <li>Natascha, my partner</li>
            <li>Hanne and Eddie, our two birds  <a href="https://en.wikipedia.org/wiki/Yellow-collared_lovebird">Agapornis Personatus</a> </li>
            <li>Bernie, our poodle </li>
          </ul>  
        </div>
        <div class="family-image">
          <img src="static/imgs/family.jpg" alt="Family Image">
        </div>
      </div>

          </div>
        <a href="https://projecteuler.net/"> 
          <img src = "https://projecteuler.net/profile/madsBR.png", alt="Project Euler Status">
        </a>
 

{% endblock %}